@model List<Product>

@{
    ViewData["Title"] = "Dobro dosli na nas mali webshop";
    ViewData["Description"] = "Ovo je projektni zadatak programa obrazovanja ASP.NET Developer";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewData["Description"]</p>
</div>


<p>
    @Context.Session.GetString("sessionString")
</p>

@if (!String.IsNullOrEmpty(ViewBag.ThankYouMessage))
{
    <div class="col-12">
        <p class="alert alert-danger">@ViewBag.ThankYouMessage</p>

    </div>
}

@*//metoda prosljeduje podatke u urlu nase strnice - query string- varijabla i njena vrijdnost u urlu*@
<form method="get" asp-area="" asp-controller="Home" asp-action="Index" class="row mb-5">
    <div class="col-6">
        <input type="text" class="form-control" name="searchQuery" />
    </div>

    <div class="col-3">
        <select class="form-select" name="orderBy">
            <option value="0">Default</option>
            <option value="1">Title (A - Z)</option>
            <option value="2">Title (Z - A)</option>
            <option value="3">Title (1,2,3)</option>
            <option value="4">Title (3,2,1)</option>
        </select>   
    </div>

    <div class="col-3">
        <input type="submit" class="btn btn-success" value="Search..." />
    </div>
</form>


<div class="row">
    @foreach (var item in Model)
    {
        //bootstrap sa adrese: https://getbootstrap.com/docs/5.1/components/card/
        <div class="card col-4 mb-3">
            @{
                string setImage = !String.IsNullOrEmpty(item.Image) ? "~/images/products/" + item.Image : "~/images/default-placeholder.png";
            }

            <img src="@Url.Content(setImage)" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>

                <p class="card-text">@item.Price.ToString("C2")</p>

                <p>
                    <form method="POST" asp-area="" asp-controller="Cart" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@item.Id" />
                        <input type="number" name="quantity" class="form-control", min="1.00", max="@item.InStock" value="1.00" />
                        <button type="submit" class="btn btn-success">
                            Add to cart
                        </button>
                    </form>
                </p>
            </div>
        </div>
    }
</div>