@model List<DemoWebshop.Services.CartItem>

<h1>Place your order</h1>

<hr />

@*
    1. Ispis poruka ili mogucih gresaka
    2. ispis podatka iz kosarice
    3. polja za unos podataka kupca
*@

@if (!String.IsNullOrEmpty(ViewBag.CheckoutMessages))
{
    <div class="col-12">
        <p class="alert alert-dange">@ViewBag.CheckoutMessages/p>
    </div>
}
<div class="row">

    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quality</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@*Dugme za uklanjanje iz kosarice*@</td>
                        <td>@item.Product.Title</td>
                        <td>@item.Product.Price.ToString("C2")</td>
                        <td>@item.Quantity</td>
                        <td>@item.GetTotal().ToString("C2")</td>
                    </tr>
                }
                <tr>
                    <td>
                        Total cost: @Model.Sum(s => s.GetTotal()).ToString("C2"))
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<div class="row">
    <div class="col-12">
        <h4>Personal information</h4>
        <form method="POST" asp-controller="Order" asp-action="CreateOrder">

            <div class="col-md-6 mb-3">
                <label>First name *</label>
                <input type="text" name="FirstName" class="form-control" required />
            </div>

            <div class="col-md-6 mb-3">
                <label>Last name *</label>
                <input type="text" name="LastName" class="form-control" required />
            </div>

            <div class="col-md-6 mb-3">
                <label>Email address *</label>
                <input type="text" name="EmailAddress" class="form-control" required />
            </div>

            <div class="col-md-6 mb-3">
                <label>Phone *</label>
                <input type="text" name="PhoneNumber" class="form-control" required />
            </div>

            <div class="col-md-6 mb-3">
                <label>Address *</label>
                <input type="text" name="Address" class="form-control" required />
            </div>

            <div class="col-md-6 mb-3">
                <label>City *</label>
                <input type="text" name="City" class="form-control" required />
            </div>

            <div class="col-md-6 mb-3">
                <label>Country *</label>
                <select name="Country" class="form-select">
                    <option value="">-- Select country --</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label>Postal code *</label>
                <input type="text" name="PostalCode" class="form-control" required />
            </div>

            <div class="col-md-6 mb-3">
                <label>Message</label>
                <textarea class="form-control" rows="5" name="Message"></textarea>
            </div>

        </form>
    </div>
</div>
